.app-button--theme-default:host {
	padding: 8px 25px;
	background-color: #611f69;
	color: #ffffff;
	font-size: 18px;
	font-weight: 900;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100%;
}
