.app-auth-base:host {
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	.app-auth-base {

		&__logo {
			width: 140px;
			margin: 30px auto 46px auto;
		}

		&__title {
			font-size: 48px;
			font-weight: 900;
			margin: 0 0 22px 0;
		}
	}
}
