//Text shortening
@mixin text-shorten($numLines: 1) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: $numLines) {
        display: box;
        white-space: initial;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: $numLines;
        box-orient: vertical;
    }
}

//Responsive ratio
@mixin ratio($x,$y, $pseudo: false) {
    $padding: unquote(( $y / $x ) * 100 + '%');
    @if $pseudo {

        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

//Turn on hover on descktops only
@mixin desktopHover() {

    @media (hover: hover) and (pointer: fine) {

        &:hover {
            @content;
        }
    }
}
