*,
*:before,
*:after,
*:focus,
*:active {
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-size: 14px;
    line-height: 1;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

ul li {
    list-style: none;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

nav,
footer,
header,
aside {
    display: block;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    display: table;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input::-ms-clear {
    display: none;
}

input[type='text']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type='text']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}
