:root {
    //Text
    --text-main: #ffffff;
    --text-secondary: #b9bbbe;
    --text-minor: #72767d;
    --text-danger: #ed4245;
    --text-link: #06a1df;

    //input
    --input-focus: #3c76d4;
    --input-blur: #222428;
    --input-bg: #303339;
    --input-border-hover: #000000;

    //button
    --btn-login: #5865f2;

    //form
    --bg-form: #36393f;
    --redirect-link: #06a1df;

    //background
    --bgc-main: #ffffff;
}

