@use 'sass:color';
@use 'src/styles' as mixins;

.app-input--theme-default:host {
	display: flex;
	flex-direction: column;

	.app-input {

		&__input {
			padding: 8px 10px;
			font-size: 18px;
			border: 1px solid #a1a1a1;
			border-radius: 4px;
			height: 40px;

			&:focus {
				box-shadow: 0 0 0 1px #1264a3, 0 0 0 5px rgb(29 155 209 / 30%);
				border: 1px solid transparent;
			}
		}

		&__error-wrapper {
			border: 1px solid rgb(230, 85, 85);
			padding: 8px 10px;
			background-color: rgba(204, 163, 163, 0.224);
			border-radius: 0 0 4px 4px;
			display: flex;
			align-items: center;

			.app-icon {
				margin: 0 6px 0 0;
			}
		}
	}
}
