<input class="{{class}}__input"
	[formControl]="control"
	[type]="type"
	[placeholder]="placeholder"
	[id]="id"
>
<div class="{{class}}__error-wrapper"
	*ngIf="control.errors && control.touched"
>
	<app-icon src="assets/icons/error.svg"></app-icon>
	<span>{{control.errors | fieldError}}</span>
</div>
