<form class="{{class}}__form"
	[formGroup]="form"
>
	<app-input class="{{class}}__input"
		[control]="nameControl"
		placeholder="Введите имя"
	></app-input>
	<app-input class="{{class}}__input"
		[control]="passwordControl"
		placeholder="Пароль"
	></app-input>

	<button app-button>Продолжить</button>
</form>
